.back{
    border: 0px solid;
    padding: .4rem .5rem;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-left:2rem;
}
.back:active {
    box-shadow: 2px 2px 3px black;
    transform: scale(1.1);
}
.result_container {
    display: grid;
    justify-items: center;
}   
.result {
    margin-top:4rem;
}

.result_flag img {
    width: 70vw;
}

.result-details {
    display: grid;
    color:white;
}
.result-details h2 {
    text-transform: uppercase;
}
.result-details div:nth-child(2) {
    display: grid;
    gap:1rem;
    text-align: left;
}

.result-details div:nth-child(1) h2{
    width: 13ch;
}
.result-details div:nth-child(2) span {
    width: 36ch;
}
.result-page {
    background-color: hsl(207, 26%, 17%) ;
    height:100vh;
}

.border h3 {
    margin-top:3rem;
    font-size: 1.1rem;;
}

@media screen and (min-width: 768px){
    .result {
        display: flex
    }
    .result-details {
        padding-left:10rem;

    }
    .result-details div:nth-child(1) h2{
        width: 30ch;
    }
    .result-details div:nth-child(2) {
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
    .result_flag img {
        height : 22rem;
        width: 32em;
    }
}