@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    border:0rem;
    padding: 0rem;
}
  

.light-theme {
    --brightblue: hsl(220, 98%, 61%);
    --selectbg: hsl(0, 0%, 98%);
    --selectcolor: hsl(200, 15%, 8%);
    --bg:hsl(0, 0%, 98%) ;
    --softbg: hsl(233, 11%, 84%);
    --darkgrayishblue: hsl(236, 9%, 61%);
    --verydarkgrayishblue: hsl(235, 19%, 35%);
    --linkColor: black;
    --countryCard: hsl(0, 0%, 100%);
    background-color: var(--bg);
}

.dark-theme{
    --text-color:hsl(234, 39%, 85%);
    --brightblue: hsl(220, 98%, 61%);
    --bg: #202c37 ;
    --selectbg:  hsl(209, 23%, 22%);
    --selectcolor: white;
    --font-color:white ;
    --lightgrayishblue: hsl(236, 33%, 92%);
    --darkgrayishblue: hsl(234, 11%, 52%);
    --linkColor: white;
    --countryCard: hsl(209, 23%, 22%);
    background-color: var(--bg);
}

input, select, .searchlist {
    background-color: var(--selectbg);
    color: var(--selectcolor);
}

.link {
    text-decoration: none;
    color: var(--linkColor)
}

.country-card {
    background-color: var(--countryCard)
}
.hide {
    display: none;
}
.show {
    display: block;
}
body {
    padding: 0;
    margin:0;
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}